 {% if featured_events %}
 {% if featured_events %}
 {% load static %}
 <!-- featured container -->
 <div class="px-[25px] mt-[22px] md:hidden">
   <div class="font-jakarta flex items-center justify-between md:hidden">
     <p class="text-(--blue-100) font-bold text-lg">Featured Events</p>
     <p class="text-[13px]">See all > </p>
   </div>
   <!-- featured ctn -->
   <div class="grid auto-cols-[minmax(200px,204px)] grid-flow-col overflow-x-auto w-full gap-[11px] mt-[22px] featuredScroll md:auto-cols-[minmax(256px,256px)]">
     {% for event in featured_events %}
     <!-- main card ctn -->
     <div>
       <!-- featured date -->
       <div class="hidden md:flex items-center gap-[6.14px]">
         <div class="w-[10.39px] h-[10.39px] bg-(--primary-300) rounded-full"></div>
         {% if event.end_date %}
         <p>{{ event.start_date|date:'jS' }} - {{ event.end_date|date:'jS' }} {{ event.end_date|date:'M' }}</p>
         {% else %}
         <p>{{ event.start_date|date:'jS' }} {{ event.start_date|date:'M' }}</p>
         {% endif %}
       </div>
       <!-- featured card -->
       <div class="flex flex-col p-[6px] pb-[21px] rounded-xl w-full gap-[15px] featured border-2 border-[#BEBEBE3B] md:p-[6.66px] md:pb-[22.12px] md:gap-[18.86px] md:mt-[6.75px] md:rounded-[13.32px] lg:p-[12.88px] lg:pb-[42.52px] lg:gap-[36.48px] lg:rounded-[25.76px] lg:border-[4.29px] lg:mt-[13.07px] md:h-[226.4px] lg:h-auto xl:h-[438px]">
         <div class="rounded-[7px] overflow-hidden w-full h-21 md:h-[122px]">
           <img class="object-cover object-center w-full h-full rounded-[7px]" src="{{ event.get_event_image }}" alt="{{ event.title|slugify }}-event-image" />
         </div>
         <a href="{{ event.link }}" target="_blank">
           <div class="flex items-center flex-col pl-[9px] pr-[14.49px] font-jakarta gap-[6px] md:pl-[9.99px] md:pr-[21.08px] md:gap-[6.66px]">
             <div class="flex items-center justify-between w-full">
               <p class="leading-4 text-[14.3px] font-bold text-(--primary-300) line-clamp-1 md:text-[14.42px]">
                 {{ event.title }}
               </p>
               <img src="{% static "home/assets/img/icons/rightArrowIcon.svg" %}" alt="" class="md:w-[21.08px] md:h-[21.08px]" />
             </div>
             <div class="w-full font-medium text-xs md:text-[12.21px] md:leading-[16px]">

               {% if event.end_date %}
               <p>{{ event.start_date|date:'jS' }} - {{ event.end_date|date:'jS' }} {{ event.end_date|date:'M' }}</p>
               {% else %}
               <p>{{ event.start_date|date:'jS' }} {{ event.start_date|date:'M' }}</p>
               {% endif %}

               <p class="hidden md:block"> {{ event.city.get_city_name }}, {{ event.city.region.state_code }}</p>
             </div>
           </div>
         </a>
       </div>
     </div>

     {% endfor %}


   </div>
 </div>
 {% endif %}
 {% endif %}
