{% load static %}
<!-- favicon -->
<link rel="icon" type="image/x-icon" href="{% static "home/assets/img/logo/favicon.png" %}">
<meta name="description" content="Find your people. Deepen your connections. Get to your dream life." />
<meta name="keywords" content="Portal X , local events, arts, Black culture, BIPOC events, queer events, poetry, Afropop, African dance, mystical spirituality, community, cultural events" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="https://community.portalx.space" />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Portal X  | Discover Local Arts, Culture & Community Events" />
<meta property="og:description" content="Find your people. Deepen your connections. Get to your dream life." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://community.portalx.space" />
<meta property="og:image" content="https://community.portalx.space/static/home/assets/img/og/og-image.webp" />
<meta property="og:site_name" content="Portal X " />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Portal X  | Discover Local Arts, Culture & Community Events" />
<meta name="twitter:description" content="Find your people. Deepen your connections. Get to your dream life." />
<meta name="twitter:image" content="https://community.portalx.space/static/home/assets/img/og/og-image.webp" />
