{% load static %}


{% if queryset %}
{% for data in queryset %}



<div id="deleteKeywordModal{{data.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <form action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="instance_id" value="{{data.id}}">
        <input type="hidden" name="keyword" value="{{data.query}}">
        <div class="modal-header">
          <div class="flex-grow-1">
            <h5 class="modal-title text-center">Delete Keyword</h5>
          </div>
          <ul class="list-inline me-auto mb-0">
            <li class="list-inline-item align-bottom">
              <a href="#" class="avtar avtar-s btn-link-danger" data-bs-dismiss="modal">
                <i class="ti ti-circle-x f-18"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <p class="alert alert-warning"><strong>{{data.query}}</strong> search keyword will be permanently deleted</p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <div class="flex-grow-1 text-center">
            <button class="btn btn-danger" name="action" value="delete_keyword">Delete</button>
          </div>
        </div>

      </form>


    </div>
  </div>
</div>



{% endfor %}
{% endif %}
