{% extends 'auth/base/base.html' %}
{% block title %}Reset Password{% endblock title %}
{% load static %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}


<div class="auth-form">
  <div class="card my-5">
    <div class="card-body">
      <form action="." method="post">
        {% csrf_token %}
        <div class="text-center">
          <img src="{% static "dash/assets/images/authentication/img-auth-fporgot-password.png" %}" alt="images" class="img-fluid mb-3" />
          <h4 class="f-w-500 mb-1">Forgot Password</h4>
          <p class="mb-3">Back to <a href="{% url "account_login" %}" class="link-primary ms-1">Log in</a></p>
        </div>
        <div class="mb-3">
          <label class="form-label">Email Address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Registered Email..." required>
        </div>
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary">Send reset email</button>
        </div>
      </form>
    </div>
  </div>
</div>





{% endblock content %}


{% block extra_script %}

{% endblock extra_script %}
