{% extends 'home/base/base.html' %}
{% block title %} Password Reset Done{% endblock title %}
{% load static %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
<!-- Banner Start -->
<section class="banner">
  <div class="container ">
    <div class="row gy-4 gy-sm-0 align-items-center">
      <div class="col-12 col-sm-6">
        <div class="banner__content">
          <h1 class="banner__title display-4 wow fadeInLeft" data-wow-duration="0.8s">Password Reset Done</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb wow fadeInRight" data-wow-duration="0.8s">
              <li class="breadcrumb-item"><a href="{% url "home:home" %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Password Reset Done</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="banner__thumb text-end">
          <img src="{% static "home/assets/images/loan_comparison_banner.png" %}" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner End -->
<!-- Loan Comparison start -->
<section class="loan-comparison section">
  <div class="container">
    <div class="loan-comparison__table">
      <div class="row justify-content-center">
        <div class="wt-box col-md-10 m-b30">
          <div class="row justify-content-center">
            <div class="col-12 ">
              <p class="alert alert-success text-justify">
                <strong class="px-0">

                  We will email you a password reset instructions if an account with the provided email exists. Please check your inbox (and also your spam folder, just in case) for an email from us with the subject <b>"Password Reset Instructions"</b> Follow the steps provided in the email to reset your password.
                  <br>
                  If you do not receive the email within a few minutes, or need further assistance, please contact our support team. We're here to help!

                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block extra_script %}
{% endblock extra_script %}
