venv/
__pycache__/
# migrations/
temp/
media/
static/
db.sqlite3
.env
.dockerignore
*.key
*.conf
template/
!requirements/*
*.env
*.tar.xz
dev-files/
local_migrate.sh
TODO.md
TODO
logs/
geodb/
db-dump/
site-data/
*.sql
DEPLOYED_VERSION.json
VERSION.txt
NOTES.md
*.log
*.pid
*.sqlite3
Portal_X.egg-info/
*.egg-info/
build/
