  <!-- footer ctn -->
  <footer id="footer" class="mt-[41px] mb-[34px] md:mt-100px">
    <div class="font-jakarta flex flex-col items-center justify-center text-sm font-semibold tracking-[-0.17px] md:flex-row md:gap-[10.65px] md:text-[12px] md:tracking-[-0.144px] lg:gap-5 lg:text-[20px] lg:tracking-[0.24px]">
      <p>© 2025 NOIR Labs. All rights reserved.</p>

      <div class="flex text-(--primary-600)">
        {% comment %} <a href="./terms.html" class="underline">Terms of Service</a> {% endcomment %}
        {% comment %} <p>&nbsp;|&nbsp;</p> {% endcomment %}
        <a href="https://noirlabs.org/privacy-policy/" target="_blank" class="underline">Privacy Policy</a>
      </div>
    </div>
  </footer>
