{% load static %}
<script src="https://cdn.jsdelivr.net/npm/mark.js/dist/mark.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static "home/assets/js/init.js" %}"></script>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NW6Q4JTLXZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-NW6Q4JTLXZ');

</script>
