{% extends "account/base/base.html" %}
{% load static %}
{% block title %} Zip Codes{% endblock title %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row g-3 align-items-center">
          <div class="col">
            <div class="input-group">
              <span class="input-group-text"><i class="ti ti-search"></i></span>
              <input type="text" class="form-control" placeholder="Search a Keyword" />
              <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>Choose City</option>
                {% for location in locations %}
                <option value="{{location.city_ascii}} ">{{location.city_ascii}} </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="d-grid d-sm-inline-block">
              <button class="btn btn-primary" type="button">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row align-items-center justify-content-between">
          <div class="col-sm-auto">
            <h5>Recently Searched</h5>
          </div>
          <div class="col-sm-auto">
            <a href="." class="btn btn-primary"> <i class="ti ti-plus f-18"></i> Add Zip Code </a>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row g-2">

          {% for location in locations %}
          <div class="col-12">
            <div class="card p-3  align-items-center justify-content-between shadow-none border border-secondary-subtle mb-0">
              <h4 class="mb-4">{{location.city_ascii}}</h4>
              <p class="text-muted mb-0 text-lg">
                {% for zip_code in location.get_zip_codes %}
                <span class="badge bg-secondary">{{zip_code.zip_code}}</span>
                {% empty %}
                <span class="badge bg-secondary">No Zip Code For {{location.city_ascii|title}} </span>
                {% endfor %}
              </p>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  <!-- [ sample-page ] end -->
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
{% block modal %}
{% endblock modal %}
{% block extra_script %}
{% endblock extra_script %}
<!-- End Header -->
